<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="jsEngineSwitcher">
      <section name="core" type="JavaScriptEngineSwitcher.Core.Configuration.CoreConfiguration, JavaScriptEngineSwitcher.Core" />
      <section name="msie" type="JavaScriptEngineSwitcher.Msie.Configuration.MsieConfiguration, JavaScriptEngineSwitcher.Msie" />
      <section name="v8" type="JavaScriptEngineSwitcher.V8.Configuration.V8Configuration, JavaScriptEngineSwitcher.V8" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings><add name="TBoardEntitiesSQL1" connectionString="metadata=res://*/Model.TBoardEntitiesSQL.csdl|res://*/Model.TBoardEntitiesSQL.ssdl|res://*/Model.TBoardEntitiesSQL.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=127.0.0.1;user id=Renaldo;password=Renaldo123;port=3306;database=tboard&quot;" providerName="System.Data.EntityClient" />
  <add name="tenderbo_sqlQAEntities" connectionString="metadata=res://*/Model.Refactored.TBoardEntitiesSQL.csdl|res://*/Model.Refactored.TBoardEntitiesSQL.ssdl|res://*/Model.Refactored.TBoardEntitiesSQL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sg1-wsq1.a2hosting.com;initial catalog=tenderbo_sqlQA;persist security info=True;user id=tenderbo_sqlQA;password=Lyw4k55#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="TBoardEntitiesSQLSQL" connectionString="metadata=res://*/Model.Refactored.TBoardEntitiesSQL.csdl|res://*/Model.Refactored.TBoardEntitiesSQL.ssdl|res://*/Model.Refactored.TBoardEntitiesSQL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sg1-wsq1.a2hosting.com;initial catalog=tenderbo_sqlQA;persist security info=True;user id=tenderbo_sqlQA;password=Lyw4k55#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TBoardEntitiesSQL" connectionString="metadata=res://*/Model.Refactored.TBoardEntitiesSQL.csdl|res://*/Model.Refactored.TBoardEntitiesSQL.ssdl|res://*/Model.Refactored.TBoardEntitiesSQL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sg1-wsq1.a2hosting.com;initial catalog=tenderbo_sqlQA;persist security info=True;user id=tenderbo_sqlQA;password=Lyw4k55#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <jsEngineSwitcher xmlns="http://tempuri.org/JavaScriptEngineSwitcher.Configuration.xsd">
    <core>
      <engines>
        <add name="MsieJsEngine" type="JavaScriptEngineSwitcher.Msie.MsieJsEngine, JavaScriptEngineSwitcher.Msie" />
        <add name="V8JsEngine" type="JavaScriptEngineSwitcher.V8.V8JsEngine, JavaScriptEngineSwitcher.V8" />
      </engines>
    </core>
  </jsEngineSwitcher>
  
</configuration>